

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="containe">

  <div class="postiionleft">

    <div class="textlighter">PASSENGER INFO </div>

      <div class="rightpostion textgras">

        Hide information

      <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
      </label>
    </div>


    <div class="container">
      <img src="../assets/photo.jpg" width="30" height="30" alt="Désert"
           class="img-circle">
      <div class="container__text">
        <p style="font-size: 8px; font-weight: bold ;margin-top: 2px;margin-left: 0.5em;margin-bottom: 2px" >Abdelhak.Dalhoumi</p>
        <p style ="font-size: 9px;color: #7b7b7b;margin-left:0.5em;margin-top: 0em">4 interactions</p>
      </div>
    </div>


    <div class=" gcolor">EMAIL</div>

    <div class="textcolor">invision@invsionapp.com</div>

    <div class=" gcolor">PHONE</div>

    <div class="textcolor">+144-3412-4422</div>

    <div class="gcolor">LOCATION</div>

    <div class="textcolor ">New York, NY</div>
  </div>


  <div class="paymentCont">

    <div class="paymentWrap">
      <div class="btn-group paymentBtnGroup btn-group-justified" data-toggle="buttons">
        <label class="btn paymentMethod active">
          <div class="method visa"></div>
          <input type="radio" name="options" checked>
        </label>
        <label class="btn paymentMethod">
          <div class="method master-card"></div>
          <input type="radio" name="options">
        </label>
        <label class="btn paymentMethod">
          <div class="method amex"></div>
          <input type="radio" name="options">
        </label>
        <label class="btn paymentMethod">
          <div class="method vishwa"></div>
          <input type="radio" name="options">
        </label>
        <label class="btn paymentMethod">
          <div class="method ez-cash"></div>
          <input type="radio" name="options">
        </label>

      </div>
    </div>

  </div>


  <section class="container">
    <div class="left-half">
      <article>

        <div class="nom">
          <img src="../assets/valid-vector-icon-png_260889.jpg" width="20" height="20" alt="Désert"
          class="img-circle">
          <p style="margin-left:0.5em;margin-bottom: 2px" >Jackson Heights</p>

        </div>

        <div class="locationn">

          <p style="margin-left:0.5em;margin-bottom: 2px" >37-27 74th Street</p>

        </div>

      </article>
    </div>
    <div class="style-six">
    </div>

    <div class="right-half">
      <article>
        <div class="nom">
          <img src="../assets/loca.png" width="20" height="20" alt="Désert"
               class="img-circle">
        <p style="margin-left:0.5em;margin-bottom: 2px">Greenpoint</p>

      </div>

        <div class="locationn">

          <p style="margin-left:0.5em;margin-top: 0em"  >81 Gate St Brooklyn</p>

        </div>

      </article>
    </div>
  </section>
<div class="center">

  <div class="row">
  </div>


  <div class="style-sixx">
    <div class="val">
      12.3km             42min        $34.20        12.4KWh
    </div>


    <div class="names">
      Distance    Time    Price   Energy
    </div>
  </div>

</div>

</div>


